services:
  db:
    image: postgres
    restart: always

    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: shop
      
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080


