services:
  db:
    image: postgres
    restart: always

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql
      
  adminer:
    image: adminer
    restart: always

    depends_on:
      - db
    ports:
      - 8080:8080

volumes:
  db_data: